#Systemd NFC to Klipper Service

[Unit]
Description=Starts nfc2klipper
Documentation=https://github.com/bofh69/nfc2klipper
After=moonraker.service
Wants=udev.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=pi
RemainAfterExit=yes
ExecStart= /home/pi/nfc2klipper/venv/bin/python3 /home/pi/nfc2klipper/nfc2klipper.py
Restart=always
RestartSec=10
