cbor2==5.8.0
flask==3.0.3
Gunicorn==23.0.0
nfcpy==1.0.4
npyscreen==4.10.5
pn5180-tagomatic==0.0.3
requests==2.32.5
toml==0.10.2
types-toml==0.10.8.20240310
types-requests==2.32.4.20260107
urllib3>=2.6.0
# numpy==2.4.1

# Requirements for open_print_tag:
# cbor2~=5.7.1
# jinja2~=3.1.5
numpy~=2.2.3
simple_parsing~=0.1.7
referencing~=0.37.0
# jsonschema~=4.25.1
